<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletServicio</servlet-name>
        <servlet-class>proyecto.sw2.controller.ServletServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>proyecto.sw2.controller.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUsuarioHasUrl</servlet-name>
        <servlet-class>proyecto.sw2.controller.ServletUsuarioHasUrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUrl</servlet-name>
        <servlet-class>proyecto.sw2.controller.ServletUrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletHistoriaUrl</servlet-name>
        <servlet-class>proyecto.sw2.controller.ServletHistoriaUrl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletServicio</servlet-name>
        <url-pattern>/ServletServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ServletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUsuarioHasUrl</servlet-name>
        <url-pattern>/ServletUsuarioHasUrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUrl</servlet-name>
        <url-pattern>/ServletUrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletHistoriaUrl</servlet-name>
        <url-pattern>/ServletHistoriaUrl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
